name: Salesforce Deploy after Merge

on:
  push:
    branches:
      - development
    paths:
      - 'force-app/**'

jobs:
  deploy_to_salesforce:
    name: Deploy to Salesforce
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: 'Install Salesforce CLI'
        run: |
          wget https://developer.salesforce.com/media/salesforce-cli/sfdx/channels/stable/sfdx-linux-x64.tar.xz
          mkdir ~/sfdx
          tar xJf sfdx-linux-x64.tar.xz -C ~/sfdx --strip-components 1
          echo "$HOME/sfdx/bin" >> $GITHUB_PATH
          ~/sfdx/bin/sfdx version

      - name: 'Populate auth file with SFDX_URL secret of the integration org'
        shell: bash
        run: |
          echo ${{ secrets.SFDX_AUTH_URL}} > ./SFDX_AUTH_URL.txt

      - name: 'Authenticate to Integration Org'
        run: sfdx auth:sfdxurl:store -f ./SFDX_AUTH_URL.txt -s -a Inta

      - name: "Deploy metadata"
        run: sfdx force:source:deploy -p "./force-app"